{% extends 'main.html' %}
{% load static %}
{% block title %}Contact | {% endblock %}

{% block content %}
    <section class="s2">
        <div class="main-container">
            <a href=""></a>
            <h3 style="text-align: center;">Get In Touch</h3>

            <form id="contact-form" method="POST" action="{% url 'send_email' %}">
                {% csrf_token %}
                <a name="contact"></a>

                <label>Name</label>
                <input required class="input-field" type="text" name="name">

                <label>Subject</label>
                <input required class="input-field" type="text" name="subject">

                <label>Email</label>
                <input required class="input-field" type="text" name="email">

                <label>Message</label>
                <textarea required class="input-field" name="message"></textarea>

                <input id="submit-btn" type="submit" value="Send">
            </form>
        </div>
    </section>
{% endblock %}